$dark: #262626;
$white: #FFFFFF;
$primary: #F21162;
$primaryrgba:rgba(242, 17, 98, 0.9);
$subtitle: #868FA2;
$logoColor: #ffffff;
$navColor: #ffffff;
$bgCardService: #ffffff;

$mainFontFamily: 'Poppins', sans-serif;