.team{

    &__content{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .teamCard:nth-child(3n+2){
        margin: 0 25px;
    }

    @media (max-width:796px){
        .teamCard{
            width: calc((100% - 50px) / 2);
        }
        .teamCard__pic img{
            height:360px;
        }
        .teamCard:nth-child(3n+2){
            margin: 0;
        }
        .teamCard:nth-child(odd){
            margin-right: 20px;
        }
    }
    @media (max-width:422px){
        .teamCard{
            width: 100%;
        }
        .teamCard:nth-child(odd){
            margin-right: 0;
        }
    }
}