<article class="welc">
    <h1 class="welc__title h1__title">We love to craft digital experiances for brands</h1>
    <div class="welc__subtitle subtitle">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more</div>
    <div class="welc__control">
        <button class="btn btn--primary welc__btn">Get started</button>
        <button class="btn btn--outline welc__btn">Get started</button>
    </div>
</article>